/* ==========================================================================
   LSM skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee !default;
$text-color: #292f6b !default;
$muted-text-color: #393e46 !default;
$primary-color: #292f6b !default;
$border-color: mix(#fff, #292f6b, 75%) !default;
$footer-background-color: #f9aa0c !default;
$link-color: #f9aa0c !default;
$masthead-link-color: #fff !default;
$masthead-link-color-hover: #f1f1f1 !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
